.ion-content {
    --background: #000000;
  }

ion-grid {
    
    right: 1px;
    left: 1px;
    top: 1px;
    bottom: 1px;
  
}

.header{
    --background: #FFB800;
    font-size: 18px;
    text-align: center;
    
}


.texto1{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.texto2{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.boton{
    --background: #FFB800;
    font-size: 15px;
   

}
